*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
body{
  background-color: #F6FBF4;
}
h1{
  color: #FFA500;
  font-family: var(--fuente-principal);
}
header{
  display: block;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-top: 6em;
  padding-left: 6em;
  min-height: 500px;
}
a{
  color: #FFF;
  text-decoration: none;
}
.logo{
  display: flex;
  flex-direction: row;
}
.headerItem{
  margin: 30px;
}
header p{
  max-width: 400px;
}
#imgTop{
  position: absolute;
  display: block;
  width: 300px;
  top: 1em;
  right: 6em;
  z-index: 100;

}
#fondo{
  position: absolute;
  width: 100%;
  z-index: -20;
  left: 0;
  top: 0;
  height: 100%;
  opacity: .7;
  
}


section{
  margin-top: 7em;
}
.tops{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.tarjeta{
  width: 300px;
  margin: 2em;
  border: #1F4690 5px solid;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A5BA0;
  min-height: 3em;
  color: #FFF;
}
nav{
  background-color: #1F4690;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
}
label{
  display: block;
}
.cajaFormulario{
  background-color: #FFE5B4;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
form{
  border: #3A5BA0 solid 10px;
  border-radius: 20px;
  padding: 2em;
}
.productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
}
.active{
  padding: 5px;
  border: #FFF solid 2px;
  border-radius: 10px;
}
.imgTarjeta{
  width: 90%;
  object-fit: contain;
}
span{
  font-size: 1.5em;
  color: #1F4690;
  background-color: #fff;
  padding: .2em;
  border-radius: 10px;
}