*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
body{
  background-color: #F6FBF4;
}
h1{
  color: #FFA500;
  font-family: var(--fuente-principal);
}
h2{
  color: white;
}
header{
  display: block;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-top: 6em;
  padding-left: 6em;
  min-height: 500px;
  color: #fff;
}
a{
  color: #FFF;
  text-decoration: none;
}
.logo{
  display: flex;
  flex-direction: row;
}
.headerItem{
  margin: 30px;
}
header p{
  max-width: 400px;
}
#imgTop{
  position: absolute;
  display: block;
  width: 300px;
  top: 1em;
  right: 6em;
  z-index: 100;

}
#fondo{
  position: absolute;
  width: 100%;
  z-index: -20;
  left: 0;
  top: 0;
  height: 100%;
  opacity: .7;
  
}


section{
  margin-top: 7em;
}
.tops{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.tarjeta{
  width: 300px;
  margin: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A5BA0;
  min-height: 3em;
  color: #FFF;
}
nav{
  background-color: #1F4690;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
}
label{
  display: block;
}
.cajaFormulario{
  background-color: #FFE5B4;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
form{
  border: #3A5BA0 solid 10px;
  border-radius: 20px;
  padding: 2em;
}
.productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
}
.active{
  padding: 5px;
  border: #FFF solid 2px;
  border-radius: 10px;
}
.imgTarjeta{
  width: 90%;
  object-fit: contain;
}
span{
  font-size: 1.5em;
  color: #1F4690;
  background-color: #fff;
  padding: .2em;
  border-radius: 10px;
}
.imgTable{
  width: 75px;
}
.carrito{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  min-height: 75vh;
}
td{
  background-color: #FFE5B4;
  border-radius: 4px;
  padding: .5em;
}
tr{
  border: #262626 solid 1px;
}
.imgDetalle{
  width: 300px;
}
.tarjetaDetalle{
  padding-left: 5%;
}
.logout:hover{
  cursor: pointer;
}
.descripcion{
  color: black
}
button{
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #3A5BA0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-style: hidden;
}
button:hover{
  opacity: .9;
  cursor: pointer;
}
.botonesTarjeta{
  display: flex;
  flex-direction: row;
}
a{
  font-size: 1.4em;
  color: white;
  padding: .2em;
  border-radius: 10px;
  font-weight: 900;
}
